<section id="description" class="bg-white relative isolate">
  <svg
    class="absolute inset-0 -z-10 size-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527"
        width="200"
        height="200"
        x="50%"
        y="-1"
        patternUnits="userSpaceOnUse"
      >
        <path d="M100 200V.5M.5 .5H200" fill="none"></path>
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
      <path
        d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
        stroke-width="0"></path>
    </svg>
    <rect
      width="100%"
      height="100%"
      stroke-width="0"
      fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"></rect>
  </svg>
  <div
    class="mx-auto max-w-7xl px-6 pt-24 pb-12 sm:py-24 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:pt-40 lg:pb-24"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
      <h1
        class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"
      >
        Moi, c'est Danny
      </h1>
      <p
        class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8"
      >
        Je suis auto-entrepreneur passionné par le soin et l'entretien des
        véhicules. Spécialisé dans le detailing automobile, je transforme chaque
        voiture pour qu'elle retrouve son éclat d'origine ! En plus de cela,
        j'offre une gamme complète de prestations de nettoyage professionnel.
        Mon objectif est simple : offrir un service minutieux, personnalisé et à
        la hauteur de vos attentes. 🚗✨
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="tel:+33755203476"
          class="flex gap-2 items-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            ></path>
          </svg>

          Me contacter</a
        >
        <a href="#pricing" class="text-sm/6 font-semibold text-gray-900"
          >Mes tarifs <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
    <div class="mt-16 sm:mt-24 lg:mt-0 lg:shrink-0 lg:grow">
      <div class="">
        <blockquote
          class="tiktok-embed"
          cite="https://www.tiktok.com/@danut4630/video/7414378919232621857"
          data-video-id="7414378919232621857"
          data-embed-from="oembed"
          style="max-width:605px; min-width:325px;"
        >
          <section>
            <a
              target="_blank"
              title="@danut4630"
              href="https://www.tiktok.com/@danut4630?refer=embed">@danut4630</a
            >
            <p></p>
            <a
              target="_blank"
              title="♬ stellar (Sped Up) - .diedlonely & énouement"
              href="https://www.tiktok.com/music/stellar-Sped-Up-7257339264492472322?refer=embed"
              >♬ stellar (Sped Up) - .diedlonely & énouement</a
            >
          </section>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<script async src="https://www.tiktok.com/embed.js"></script>
